{% extends 'front/base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'applications/css/applications.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}Applications{% endblock %}
{% block title %}Applications{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label class="panel-title">Applications</label>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label class="panel-title">Actions</label>
            </div>
            <div class="panel-body">
                {% for app in context.applications %}
                <div class="row">
                    <div class="col-xs-3 app-action-block"><b>{{ app.label }}</b></div>
                    <div class="col-xs-3 app-action-block">
                        <i>{{app.name}}</i>
                        <div class="pull-right">
                            <a href="{{ app.git_repository_url }}" title="GIT" target="_blank" class="btn glyphicon glyphicon-link"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 app-action-block">
                        <a class="btn btn-primary">Pull</a>
                        <a class="btn btn-primary">Build</a>
                        <a class="btn btn-primary">Up</a>
                        <a class="btn btn-primary">Start</a>
                        <a class="btn btn-primary">Stop</a>
                        <a class="btn btn-primary">Down</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
