{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ServerManager: {% block head_title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'front/css/front.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" style="display: flex;align-items: center;">
                    <a class="navbar-brand" href="{% url 'home' %}"><strong>ServerManager</strong></a>
                    {% block title %}{% endblock %}
                </span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="btn-group nav navbar-nav navbar-right">
                    {% if request.user.is_superuser %}
                    <a href="{% url "home" %}" class="btn btn-default">Applications</a>
                    <a href="{% url "hostmanager" %}" class="btn btn-default">HostManager</a>
                    <a href="{% url "readme" %}" class="btn btn-default">Readme</a>
                    <a href="{% url "core-config" %}" class="btn btn-default">Config</a>
                    {# <!--<li><a data-toggle="modal" data-target="#ShowDocumentationModal" data-keyboard="false" href="{% url "documentation" %}">Documentation</a></li>-->#}
                    <a href="/admin" class="btn btn-default">Admin</a>
                    <a href="{% url "front-logout" %}" class="btn btn-default">Logout</a>
                    {% else %}
                    <a href="{% url "front-login" %}" class="btn btn-default">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div id="ShowDocumentationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="container-fluid page-body">
        {% block body %}{% endblock %}
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        var nav_bar = $('#navbar');
        nav_bar.on('show.bs.collapse', function () {
            console.log('ho show !');
            nav_bar.firstElementChild.addClass('btn-group-vertical')
        });
        nav_bar.on('hide.bs.collapse', function () {
            console.log('ho hide !');
        });
    });

</script>

{% block extra_script %}{% endblock %}
</body>
</html>
