{% extends 'front/base.html' %}
{% load static %}

{% block head_title %}Applications{% endblock %}
{% block title %}Applications{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label class="panel-title">Readme</label>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label class="panel-title">Readme</label>
            </div>
            <div class="panel-body">
                {{ context.readme_content|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
